<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="gisCon" connectionString="Data Source=192.168.120.131;Initial Catalog=HenanGIS;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <add name="loginCon" connectionString="Data Source=192.168.120.131;Initial Catalog=HenanGISRM;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    <add name="hjjcCon" connectionString="Data Source=192.168.120.131;Initial Catalog=HenanHJJC;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
        <add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <!--<add name="Access-Control-Allow-Origin" value="http://localhost:8901, http://192.168.120.131:8901" />-->
      </customHeaders>
    </httpProtocol>
    <modules>
      <!--<add name="MyHttpModule" type="WebServiceDemo.MyHttpModule"/>-->
    </modules>
  <staticContent>  
    <mimeMap fileExtension=".obj" mimeType="application/octet-stream" /> 
    <mimeMap fileExtension=".mtl" mimeType="application/octet-stream" /> 
  </staticContent>
  </system.webServer>
</configuration>