body,html {
    overflow-x:hidden; 
}

.conditionUl {
	list-style: none;
	height: 36px;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	border-bottom: solid 1px #ccc;
	padding-bottom: 5px;
}

.conditionUl li {
	float: left; 
	cursor: pointer;
	padding-bottom: 5px; 
    width:75px;
    text-align:center;
    height: 36px;
    line-height: 36px;
}

.conditionUl li:hover {
	font-weight: 600;
	border-bottom: solid 1px #2861EB;
}

.conditionUl li img {
	border-radius: 30px;
	width: 30px;
	padding: 5px;
	height: 30px;
}
#panelCondition .btn {
    width:100%;
}